<a [routerLink]="['/pokemon', pokemon.name]" 
   class="relative flex flex-col pt-4 pb-0 bg-white rounded-xl shadow-lg text-center overflow-hidden transition-transform hover:scale-105 max-w-[20rem] mx-auto">
  
  <!-- Numéro du Pokémon -->
  <span class="absolute top-2 right-3 text-gray-500 font-bold text-xl">
    #{{ getPokemonId() }}
  </span>

  <!-- Image du Pokémon -->
  <div class="w-full h-32 flex justify-center items-center relative z-10 rounded-t-xl">
    <img [src]="'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/' + getPokemonId() + '.png'" 
         [alt]="pokemon.name"
         class="h-32 w-32">
  </div>

  <!-- Nom du Pokemon -->
  <div class="w-full bg-[#efefef] rounded-xl px-2 py-2 h-32 flex items-center justify-center -mt-10 relative z-0">
    <small class="text-[12px] leading-4 text-[#1d1d1d]">
      <span class="capitalize text-[28px] font-normal">{{ pokemon.name }}</span>
    </small>
  </div>
</a>